.product-form {
  display: flex;
  gap: 20px;
}

.form-left,
.form-right {
  flex: 1;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 6px; /* Increase the gap between form items */
  margin-bottom: 10px; /* Add margin to create space between titles and forms */
}

/* Increase the height of the description form */
.form-item textarea {
  height: 170px; /* Adjust as needed */
}

.form-item-group {
  display: flex;
  gap: 20px;
}

.title-header {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px; /* Add margin to create space between titles and forms */
}

.button-container {
  margin-top: 20px; /* Adjust as needed */
}

button {
  width: 100%;
  padding: 5px;
  font-size: 26px; /* Adjust as needed */
  font-weight: bold;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  text-align: center;
  border-radius: 6px; /* Adjust the value for the desired level of roundness */
}

/* Add these styles to make Available Quantity and Price the same height as other forms */
.form-item-group .form-item {
  flex: 1;
}

.form-item label.bold-title {
  font-weight: bold;
}